header{
    background-color: #7A1414;
    margin-left: 0px;
    margin-right: 0px;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-left: 30%;
}

.headerBtn{
    padding: 10px 20px;
    vertical-align: middle;
}

div{
    justify-content: right;
    margin-right: 2.5%;
}

.icon{
    padding: 1%;
    zoom: 200%
}

.icon:hover{
    color: #f3f3f3;
}

.userIcon{
    padding: 7.5%;
    zoom: 200%;
    color: #147A14;
}

.userIcon:hover{
    border-radius: 100%;
    background-color: #5C0F0F;
    color: #8B3131;
}

@media (max-width: 768px) {
    nav{
        padding: 5px;
    }

    
}