div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 350px;
    padding-bottom: 400px;
    padding-left: 25px;
    margin-right: 50%;
}

img {
    margin: 0% 20% 0% 20%;
    width: 275px;
    border-radius: 75px;
    opacity: 55%;
    color: #232323;
    image-rendering: optimizeSpeed;
}

img:hover{
    opacity: 100%;
}

h1{
    margin-right: 20%;
    font-size: 120px;
}